*{
margin:0px;
padding:0px;
}
body{
background: url(../Imagenes/a.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
header{
width:90%;
}
ul{
list-style:none;
background-color:#52777c;
padding:5px;
display:inline-flex;
}
nav li{
float:left;
}
nav li a{
background-color:#52777c;
color:#8effe6;
text-decoration:none;
padding:5px 15px;
width:100%;
display:block;
}
nav li a:hover{
background-color:#effcf9;
color:#000;
}
nav li ul{
display:none;
postion:absolute;
}
nav li:hover ul{
display:block;
}
nav li ul li{
position:relative;
}
nav li ul li ul{
}